body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
  }
  div#tabela{
    align-items: center;
    box-shadow: 7px 20px 20px rgb(62, 33, 107);
    border-radius: 5px;
    width: 1025px;
    height: -110px;
    font-size: 40;
  }
  legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: darkblue;
    
  }

  input{
    border-radius: 15px;
    font-size: 17px;
    font-weight: bolder;

}
button{
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(9, 2, 33);
  color: blue;
   
}

button:hover{
  background-color: blue;
  color: black;
  font-size: 20px;
  cursor: pointer;

}
